<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math!</title>
  </head>
  <body>
    <form action="/math" method="post"></form>
        <h1>Math Time!</h1>
        <label for="num1">Number 1: <input name="num1" type="text" /></label>
        <br />
        <label for="num2">Number 2: <input name="num2" type="text" /></label>
        <br />
        <button type="submit">Get results</button>
    </form>
    <p><a href="/">Back to home</a></p>
  </body>
</html>
